{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">

            <h1>Register</h1>
        </div>
        <div class="col-8 offset-2">

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <button type="submit" class="btn btn-lg btn-primary mt-4">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>

{% endblock %}