{% extends 'base.html.twig' %}

{% block title %}{{ 'category'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'all.category'|trans }}  : </h1>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} / {{ category.name }}</h2>
            <a href="{{ path("category_show", { categoryName: category.name }) }}">Voir les séries</a>
        </div>
    {% else %}
        {{ 'no.category.found'|trans }}
    {% endfor %}

    <a href="{{ path('app_index') }}">
        {{ 'back.home'|trans }}
    </a>
{% endblock %}