{% extends 'base.html.twig' %}

{% block title %} {{ 'category'|trans }} {{ category.name }}{% endblock %}

{% block body %}
    <h1>{{ 'program.category'|trans }} {{ category.name }} : </h1>
    <div class="container-fluid">
        <div class="row justify-content-around mx-0">
            {% for program in programs %}
                <div class="card m-4">
                    <div class="card-img text-center">
                        <img class="poster" src="{{ program.poster }}" alt="{{ program.title }} poster">
                    </div>
                    <div class="card-body">
                        <a href="{{ path("program_show", { slug: program.slug }) }}"><h2>{{ program.title }}</h2></a>
                        <p>{{ program.summary }}</p>
                        <p>{{ 'category'|trans }}  : {{ category.name }}</p>
                    </div>
                </div>
            {% else %}
                {{ 'no.serie.found'|trans }}
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('category_index') }}">
        {{ 'back.category'|trans }}
    </a>
{% endblock %}