{% extends 'layoutEmail.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}

    <h1>{{ 'new.episode'|trans }} {{ episode.title }} </h1>

    <p>{{ 'hello_username'|trans }}, {{ 'new.episode'|trans }} {{ episode.title }} {{ 'created'|trans }}ild Series</p>

    <p>{{ 'synopsis'|trans }} : {{episode.synopsis }} </p>

{% endblock %}