{% extends 'layoutEmail.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}

    <h1>{{ 'new.program'|trans }} {{ program.title }} {{ 'created'|trans }}</h1>

    <p>{{ 'hello_username'|trans }}, {{ 'new.program'|trans }} {{ program.title }} {{ 'created'|trans }}on Wild Series</p>

    <p>{{ 'summary'|trans }} : {{program.summary }} </p>

{% endblock %}