{% extends 'base.html.twig' %}

{% block title %} {{ 'season'|trans }} {% endblock %}

{% block body %}
    <div class="container-fluid ml-4">
        <h1 class="text-center my-4">{{ 'season'|trans }} {{ season.number }} of {{ program.title }}</h1>
        <table class="table">
            <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <img class="align-self-start mr-3" src="/uploads/{{program.poster}}" alt="{{ program.title }} poster">
            </tr>
            <tr>
                <ul>{{ 'all.episode'|trans }}:
                {% for episode in season.episodes %}
                   <li><a href="{{ path("program_episode_show", { 'program_slug': program.slug , season: season.id, 'episode_slug': episode.slug }) }}">
                           {{ 'episode'|trans }} {{ episode.number }} : {{ episode.title }}
                       </a></li>
                {% else %}
                    {{ 'no.episode.found'|trans }}
                {% endfor %}
                </ul>
            </tr>
            <tr>
                <th>{{ 'number'|trans }}</th>
                <td>{{ season.number }}</td>
            </tr>
            <tr>
                <th>{{ 'year'|trans }}</th>
                <td>{{ season.year }}</td>
            </tr>
            <tr>
                <th>{{ 'description'|trans }}</th>
                <td>{{ season.description }}</td>
            </tr>
            </tbody>
        </table>
    </div>
<a href="{{ path('program_index') }}">
    {{ 'back.program'|trans }}
    </a>
{% endblock %}
