{% extends 'base.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}
    <div class="container-fluid ml-4">
        <h1 class="text-center my-4">Season {{ season.number }} of {{ program.title }}</h1>
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <ul>Liste des épisodes :
                {% for episode in season.episodes %}
                   <li><a href="{{ path("program_episode_show", { 'program_slug': program.slug , season: season.id, 'episode_slug': episode.slug }) }}">
                        Épisode {{ episode.number }} : {{ episode.title }}
                       </a></li>
                {% else %}
                    Aucun épisode
                {% endfor %}
                </ul>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ season.number }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ season.year }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ season.description }}</td>
            </tr>
            </tbody>
        </table>
    </div>
<a href="{{ path('program_index') }}">
        Back programms
    </a>
{% endblock %}
