{% extends 'base.html.twig' %}

{% block title %} {{ 'actor'|trans }} {% endblock %}

{% block body %}
    <h1>{{ 'all.actor'|trans }} </h1>
    {% for actor in actors %}
        <div>
            <h2>{{ loop.index }} / {{ actor.name }}</h2>
            <a href="{{ path("actor_show", { id: actor.id }) }}">Voir les séries</a>
        </div>
    {% else %}
        {{ 'no.actor.found'|trans }}
    {% endfor %}

    <a href="{{ path('app_index') }}">
        {{ 'back.home'|trans }}
    </a>
    <a href="{{ path("actor_new") }}">TESTETS</a>

{% endblock %}
