{% block header %}
<div class="fixed-top">
    <nav class=" navigation navbar navbar-expand-md spacenav">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="navlogo nav-item"><a class="nav-link text-white h4" href="">Wild Series</a></li>
            </ul>
        </div>

        <div class="mx-auto order-0">
            <a class="navbar-brand img d-none d-lg-block" href="#">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <li class="nav-item"><a class="nav-link h4" href="{{ path('program_index') }}">{{ 'program'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link h4" href="{{ path('actor_index') }}">{{ 'actor'|trans }}</a></li>
                </ul>
                <ul>
                   {#  {{ render(controller('App\\Controller\\ProgramController::navbarTop')) }} #}
                    <li class="nav-item"><a class="nav-link h4" href="{{ path('category_index') }}">{{ 'category'|trans }}</a></li>

                </ul>
                <a class="nav-item" href="{{ path('app_index', {'_locale':'fr'}) }}">Fr</a>
                <a class="nav-item" href="{{ path('app_index', {'_locale':'en'}) }}">En</a>
            </div>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    {% trans with {'%username%': app.user.email} %}
                        hello_username
                    {% endtrans %} !
                    <a href="{{ path('app_logout') }}"> {{ 'account.logout'|trans }}</a>
                {% else %}
                    <a href="{{ path('app_login') }}"> {{ 'account.login'|trans }}</a>
                    <a href="{{ path('app_register') }}"> {{ 'account.created'|trans }}</a>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

{% endblock %}